<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated MVC -->
      <package
            uri="http://co.edu.uniandes.csw.mvc/1.0"
            class="mvc.MvcPackage"
            genModel="src/MVC.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Annotateit -->
      <package
            uri="http://co.edu.uniandes.csw.mvc.annotate/1.0"
            class="annotate.AnnotatePackage"
            genModel="src/Annotateit.genmodel"/>
   </extension>

</plugin>
